.slot-machine {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    #{&}__slots {
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
    }

    #{&}__slot {
        pointer-events: none;
        user-select: none;
        border-radius: 10px;
        width: 150px;
        height: 250px;
        box-shadow: 2px 2px 5px grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #{&}__roll {
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        align-self: center;
        font-family: Fruktur;
        font-size: 74px;
        background-color: transparent;
        &:hover {
            text-decoration: underline;
        }
    }
}

.slot-icon {
    width: 100%;
}

.score {
    text-align: center;
}

@media only screen and (min-width: 840px) {
    .slot-machine {
        grid-auto-flow: column;
    }
}

@media only screen and (min-width: 1135px) {
    .slot-machine {
        #{&}__slot {
            width: 250px;
            height: 300px;
        }
    }
}
